body {
  height: 600px;
  background: url(../img/background.png);
  font-family: Monaco, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
}

.container-footer {
  display: flex;
  justify-content: center;
}

.Line {
  display: flex;
}

.link_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 70px 190px;
}

.left_link {
  display: flex;
  text-align: left;
}

.right_link {
  display: flex;
  text-align: right;
}

.link_container a,
.link_container a:link,
.link_container a:visited {
  color: #cbcbcb;
}

.link_container a:hover {
  color: #00b983;
}

@media screen and (min-device-width: 768px) {
  .container,
  .container-footer {
    margin: 1% 0 auto;
  }
}

@media screen and (min-device-width: 900px) {
  .container,
  .container-footer {
    margin: 5% 0 auto;
  }
}

@media screen and (min-device-width: 1200px) {
  .container,
  .container-footer {
    margin: 9% 0 auto;
  }
}
