body {
  height: 600px;
  background: url(../img/background.png);
  font-family: Monaco, sans-serif;
  margin: 0;
  padding: 0;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: auto;
}

.container {
  display: flex;
  justify-content: center;
  margin: 100px 0 auto;
}

.container-footer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 120px;
  margin-bottom: 30px;
  background: #cbcbcb;
  height: 3px;
}

.line {
  display: flex;
  width: 100%;
  margin-bottom: 40px;
}

.link_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 60px auto;
}

.left_link, .right_link {
  display: flex;
  min-width: 300px;
}

.left_link {
  text-align: left;
  margin-left: 180px;
}

.right_link {
  text-align: right;
  margin-right: 180px;
}

.link_container a,
.link_container a:link,
.link_container a:visited {
  width: 100%;
  color: #cbcbcb;
}

.link_container a:hover {
  color: #00b983;
}
